section {
  width: 100%;

}

.hero-section {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.hero-card {
  width: 35rem;
  height: 20rem;
  background-color: white;
  text-align: center;

  padding: 20px;
  border-radius: 10px;
}

.activities-card {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}


.recent-post-img {
  width: 80px;

  height: 80px;
  object-fit: cover;

  border-radius: 8px;

}

.card-news {
  width: 30rem;
  margin: 0 auto;
}

.about-content {
  height: 93vh;
  background-image: url("../img/2149661462.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-description {
  width: 50rem;
  background-color: white;
  border-radius: 10px;
  opacity: 0.8;
}

.activities-img {
  width: 30rem;
  height: 28;
  object-fit: cover;
  border-radius: 10px;
}

.activities-content {
  border: 1px solid gray;
  margin: 5rem;
  padding: 2rem;
  border-radius: 10px;
}

.news-content {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-description {
  width: 50rem;
  background-color: white;
  border-radius: 10px;
  opacity: 0.8;
}
